.app {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: lightgrays;
}

@media (prefers-color-scheme: dark) {
  .app {
      background-color: black;
  }
}